
<html>

  

  
  
  
  <body>
  
    <div align="center">
		  <img width="300" height="130" src="/tracker/images/pic01.png"/>
		  <P><bold>Smartbands Time Tracker</bold></p>
                 <form id="login" method="post" action="/tracker/login">
  		  <table id="sbttlogin">
  		  	<tr>
  		  		<td>
  		  		  User:
  		  		</td>
  		  		<td>
  		  			<input type="text" name="user" />
  		  		</td>
  		  	</tr>
  		  	<tr>
  		  		<td>
  		  		  Pass: 
  		  		</td>
  		  		<td>
  		  			<input type="password" name="pass" />
  		  		</td>
  		  	</tr>
  		  	<tr>
  		  		<td></td>
  		  		<td align="center">
  		  			<input id="loginbtn" type="submit" />
  		  		</td>
  		  		<td></td>
  		  	</tr>
  		  </table>
  		  </form>
		    
      
    
    </div>
  
  
  
  </body>


</html>
